In [1]:
# EXERCISES PART 1

import pandas as pd
import numpy as np
from pydataset import data

In [2]:
fruited_array = np.array(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruited_array

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype='<U16')

In [3]:
fruited_series = pd.Series(fruited_array)
fruited_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [75]:
# alternate list to array to series

fruited_series_alt = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruited_series_alt

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [77]:
# 1/ Determine the number of elements in fruits.
fruited_series.count

# fruited_series.size

<bound method Series.count of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [76]:
# 1, alt 
len(fruited_series)

17

In [78]:
# 1, alt

fruited_series.size

17

In [80]:
# 2/ Output only the index from fruits.

fruited_series.index

RangeIndex(start=0, stop=17, step=1)

In [84]:
# 2, alt

print(list(fruited_series.array))
print(list(fruited_series.index))

['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi', 'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry', 'papaya']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [89]:
# 3/ Output only the values from fruits.

print(fruited_series.values)
print('...')
# or 
print('...')
print(list(fruited_series.values))

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'kiwi' 'kiwi' 'kiwi' 'mango' 'blueberry'
 'blackberry' 'gooseberry' 'papaya']
...
...
['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi', 'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry', 'papaya']

In [91]:
# 4/ Confirm the data type of the values in fruits.

fruited_series.dtype

# dtype = object

# .dtypes also works

dtype('O')

In [95]:
# 5/ Output only the first five values from fruits. Output the last three values. 
# Output two random values from fruits.

print('First five fruits : \n',fruited_series.head(5))
print('...')
print('...')
print('Final three fruits : \n',fruited_series.tail(3))
print('...')
print('...')
print('Random fruits : \n',fruited_series.sample(2))

First five fruits :
 0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
...
...
Final three fruits :
 14    blackberry
15    gooseberry
16        papaya
dtype: object
...
...
Random fruits :
 7    watermelon
3     pineapple
dtype: object

In [57]:
# 6/ Run the .describe() on fruits to see what information it returns when called on 
        # a Series with string values.

fruited_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [60]:
# 7/ Run the code necessary to produce only the unique string values from fruits.

fruited_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [100]:
# 7, alt

list(fruited_series.value_counts().index)

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [68]:
# 8/ Determine how many times each unique string value occurs in fruits.

fruited_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [73]:
# 9/ Determine the string value that occurs most frequently in fruits.

fruited_series.value_counts().idxmax()

# or : fruited_series.mode()

'kiwi'

In [105]:
# 9, alt
fruited_series.value_counts().nlargest(1)

kiwi    4
dtype: int64

In [108]:
# 9, alt
    
fruited_series.value_counts().head(1)

#value_counts sorts by default largest to smallest

kiwi    4
dtype: int64

In [109]:
 # 9, alt
    
fruited_series.describe().loc['top']
    
    # .loc gives row name, which is, here, 'top'

'kiwi'

In [63]:
# 10/  Determine the string value that occurs least frequently in fruits.
fruited_series.min()

'blackberry'

In [101]:
# 10, alt
fruited_series.value_counts().idxmin()

'strawberry'

In [110]:
# 10, alt

fruited_series.value_counts().nsmallest(n = 1, keep = 'all')

# this is the best metode, as it shows all of the smallest values

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [111]:
# 10, alt

fruited_series.value_counts()[fruited_series.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [ ]:
## 5. Exercises Part II
# Explore more attributes and methods while you continue to work with the fruits Series.

In [119]:
#1 / Capitalize all the string values in fruits.

fruited_series.str.title()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala Apple
5     Honeycrisp Apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [121]:
#2 / Count the letter "a" in all the string values (use string vectorization).

len(fruited_series.str.count('a'))

17

In [5]:
#3 / Output the number of vowels in each and every string value.
vowels = list('aeiouy')

# fruited_series[fruited_series.isin(vowels)]


count = 0
def num_vowels(n):
    '''
    this function takes a number and returns a string indicating 
    whether the passed number is even or odd.
    '''
    for n in vowels:
        return 'has vowel'
    else:
        return 'c'

fruited_series.apply(num_vowels)

# this returns that each word 'has vowel'

0     has vowel
1     has vowel
2     has vowel
3     has vowel
4     has vowel
5     has vowel
6     has vowel
7     has vowel
8     has vowel
9     has vowel
10    has vowel
11    has vowel
12    has vowel
13    has vowel
14    has vowel
15    has vowel
16    has vowel
dtype: object

In [184]:
for word in fruited_series:
    if word in 'aeiou':
        print(word)
letter

# this prints 'papaya'

'papaya'

In [171]:
#4 / Write the code to get the longest string value from fruits.

fruited_series.str.len()
# outputs the length of each value in the string

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [159]:
#5 / Write the code to get the string values with 5 or more letters in the name.

list(fruited_series.str.len() > 5)

[False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True]

In [161]:
#6 / Find the fruit(s) containing the letter "o" two or more times.

# fruited_series.apply(lambda n: 'more than or equal to two' if n >= else 'less than two')
# SyntaxError: invalid syntax

SyntaxError: invalid syntax (1629227519.py, line 5)

In [190]:
vowels = list('aeiouy')
fruited_series[~fruited_series.isin(vowels)]

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [45]:
#7 / Write the code to get only the string values containing the substring "berry".

    
contain_berry = fruited_series[fruited_series['object'].str.contains('berry')]
print (contain_berry)

KeyError: 'object'

In [ ]:
#8 / Write the code to get only the string values containing the substring "apple".

In [37]:
#9 / Which string value contains the most vowels?

# fruited_series[fruited_series > vowels]
    
#(fruited_series(vowels) > 5).any()                    # TypeError: 'Series' object is not callable

vowels = (list('aeiouy')


# fruited_series.isin(vowels).value_counts().nlargest 

                # returns ''<bound method Series.nlargest of False    17 / dtype: int64>''


fruited_series.isin(vowels).value_counts()   
          ## returns 'False 17'

SyntaxError: invalid syntax (1253328810.py, line 15)

In [23]:
fruited_series = pd.Series(vowels)
fruited_series

0    a
1    e
2    i
3    o
4    u
5    y
dtype: object

In [40]:
fruited_series[fruited_series.isin(vowels)].value_counts()

a    1
e    1
i    1
o    1
u    1
y    1
dtype: int64