In [1]:
# EXERCISES PART 1

import pandas as pd
import numpy as np
from pydataset import data

In [4]:
fruited_array = np.array(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruited_array

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype='<U16')

In [31]:
fruited_series = pd.Series(fruited_array)
fruited_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [32]:
# 1/ Determine the number of elements in fruits.
fruited_series.size

17

In [33]:
# 2/ Output only the index from fruits.

fruited_series.index

RangeIndex(start=0, stop=17, step=1)

In [34]:
# 3/ Output only the values from fruits.

fruited_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [35]:
# 4/ Confirm the data type of the values in fruits.

fruited_series.dtype

dtype('O')

In [56]:
# 5/ Output only the first five values from fruits. Output the last three values. 
# Output two random values from fruits.

print('First five fruits : \n',fruited_series.head(5))
print('...')
print('Final three fruits : \n',fruited_series.tail(3))
print('...')
print('Random fruit : \n',fruited_series.sample())

First five fruits :
 0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
...
Final three fruits :
 14    blackberry
15    gooseberry
16        papaya
dtype: object
...
Random fruit :
 7    watermelon
dtype: object

In [57]:
# 6/ Run the .describe() on fruits to see what information it returns when called on 
        # a Series with string values.

fruited_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [60]:
# 7/ Run the code necessary to produce only the unique string values from fruits.

fruited_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [68]:
# 8/ Determine how many times each unique string value occurs in fruits.

fruited_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [73]:
# 9/ Determine the string value that occurs most frequently in fruits.

fruited_series.value_counts().idxmax()

# or : fruited_series.mode()

'kiwi'

In [63]:
# 10/  Determine the string value that occurs least frequently in fruits.
fruited_series.min()

'blackberry'